@font-face {
  font-family: "MyFont";
  src: url("./MyFont.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

body {
  background-color: #24072d;
  color: #fde467;
  padding: 0;
  margin: 0;
  padding: 2rem 4rem;
}

h1 {
  font-family: "MyFont", sans-serif;
  font-size: clamp(3rem, 12vmax, 12rem);
  text-align: center;
  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 0.875;
  hyphens: auto;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

.Fish {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #24072d;
}

:root {
  --color-yellow: #ffea2d;
  --color-white: #ffffff;
  --color-orange: #f89616;
}

.MainTitle:hover {
  text-shadow: 0.05em 0 0 var(--color-yellow), -0.025em -0.05em 0 var(--color-white),
    0.025em 0.05em 0 var(--color-orange);
  animation: glitch 650ms infinite;
}
