@font-face {
  font-family: "MyFont";
  src: url("./MyFont.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

h1 {
  position: absolute;
  left: 28rem; /* moving this inwards */
  top: 90%;

  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left center;

  margin: 0;

  font-family: "MyFont", sans-serif;
  font-size: clamp(3rem, 16vmax, 12rem);
  letter-spacing: -0.001em;
  line-height: 0.875;
}

.heroSection {
  background-image: url("FinalBG2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 100vh;
  position: relative;
  overflow: visible;
}

:root {
  --color-yellow: #96be4c;
  --color-white: #ffffff;
  --color-orange: #d6e5be;
}

.mainTitle:hover {
  text-shadow: 0.05em 0 0 var(--color-yellow), -0.025em -0.05em 0 var(--color-white),
    0.025em 0.05em 0 var(--color-orange);
  animation: glitch 650ms infinite;
}

.linksInfo {
  text-align: center;
  padding: 6rem 0;
}

.linksInfo img {
  display: inline-block;
  width: 300px;
  height: auto;

  margin: 0 2rem;
  vertical-align: middle;
}
